<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >
<suite name="All Test Suite">
    <test enabled="true" verbose="2" preserve-order="true" name="e-commerce test automation">
        <classes>
            <class name="CartTest"/>
        </classes>
    </test>
    <test name="login test suite" enabled="false">
        <classes>
            <class name="LoginTest">
                <methods>
                    <include name="loginwithNoPasswordNoUsername"/>
                    <include name="loginWithoutUserNameWithInvalidPassword"/>
                    <include name="loginWithoutUserNameWithValidPassword"/>
                    <include name="loginWithInvalidUsernameWithoutPassword"/>
                    <include name="loginWithInvalidUsernameInvalidPassword"/>
                    <include name="loginWithInvalidUsernameValidPassword"/>
                    <include name="loginWithValidUsernameWithoutPassword"/>
                    <include name="loginWithValidUsernameInvalidPassword"/>
                    <include name="loginWithValidUsernameAndPassword"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>